@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #4d1939;
}

span.flicking-pagination-bullet-active {
	background-color: #a99e73;
	width: 10px;
	height: 10px;
}


.nav-active {
	background-color: #4d1939;
	color: white;
}